node_modules
/wp-config.php
.idea
.DS_Store
/slice

/i.php
/config
/dump.sh
/pull-live.sh
/push-live.sh
/push-dev.sh
/pull-dev.sh
/.htaccess_lscachebak*
/.htaccess
/robots.txt
/error_log-*

/conf
wp-content/wflogs/config.php
/nginx.conf

/wp-content/themes/multi-fin/assets/.htaccess

/wp-content/w3tc-config
/wp-content/advanced-cache.php
/wp-content/wp-cache-config.php
/wp-content/object-cache.php
/wp-content/db.php
/wp-content/autoptimize_404_handler.php

/wp-content/plugins/image-regenerate-select-crop/log/tracer.log

/wp-content/wflogs/config-livewaf.php
/wp-content/wflogs/config-synced.php
/wp-content/wflogs/config-transient.php
/wp-content/wflogs/config.php

/wp-content/uploads
/wp-content/uploads-webpc
/wp-content/webp-express
/wp-content/__MACOSX
/wp-content/upgrade

error_log
wp-admin/error_log
wp-content/plugins/10web-manager/vendor/10web/archive
